* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

.admin-page {
  width: 100%;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;

  @media (max-width: 500px) {
    max-width: 100%;
  }
}

.customer-page {
  width: 100%;
  height: 100vh;
  max-width: 430px;
  margin: 0 auto;

  @media (max-width: 430px) {
    max-width: 100%;
  }
}
